* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #33EDF6;
}
.container {
  display: flex;
  flex-direction: column;
}
h1 {
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 1.8rem;
}
h1,
h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
p{
    text-align: justify;
}
header {
  text-align: center;
}
aside {
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 12px;
  color: white; 
  padding-right: 20px;
}
aside {
  border: 1px dashed black;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.center{
    width: fit-content;
    margin: 0 auto;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: black;
}
footer a{
  font-size: 0.5rem;
}

@media (min-width: 400px) {
  h1{
    font-size: 2.8rem;
  }
  footer{
    padding: 20px;
  }
  footer a{
  font-size: 1.5rem;
}
}
@media (min-width: 650px) {
  .container{
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .container{
    flex-direction: row;
    max-width: 700px;
    margin: 0 auto;
  }
}

